<%- include('head.ejs') %>

    <body>
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <h5>Edit Person Register</h5>
                </li>
            </ul>
        </div>
        <form action="/edit/teacher/<%=data.registration%>/<%=data.ID_teacher%>" method="post">
            <!-- Data Person - Master Table -->
            <div class="form-group">
                <label for="">Name</label>
                <input class="form-control  form-control-sm" type="text" name="name" value="<%=data.name %>">
            </div class="form-group">
            <div>
                <label for="">Address</label>
                <input class="form-control  form-control-sm" type="text" name="address" value="<%=data.address %>">
            </div>
            <div class="form-group">
                <label for="">Birthday Date</label>
                <input class="form-control  form-control-sm" type="text" name="birthdaydate"
                    value="<%=data.birthday_date %>">
            </div>

            <!-- Data Teacher - Detail Table -->
            <div class="card-header">
                <ul class="nav nav-pills w-100">
                    <li class="nav-pill active">
                        <h5>Edit Detail Register</h5>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Graduation</label>
                <input class="form-control" type="text" name="graduation" value="<%= data.graduation %>" />
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input class="form-control" type="text" name="salary" value="<%= data.salary %>" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="EDIT">
                <a href="/" class="btn btn-outline-primary btn-sm">Return</a>
            </div>
        </form>

        </div>
        </div>
        </div>
    </body>

    </html>